
.modalBody
{
    /* background: linear-gradient( to left ,#f7a1a4 ,#e8ab9a); */
    background: linear-gradient( to right ,#29494b ,#0a1c34);
    color: white;
}
.modalBody h3
{
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing:.1rem;
    word-spacing: .5rem;
    text-transform: uppercase;
}
.label::after
{
 content: " *";
 color: rgb(235, 72, 22);
 /* font-size: 1rem; */
}
.btnBottom
{
    /* text-align: center !important; */
    display: flex;
    text-align: center;
    justify-content: center;
}
textarea
{
    resize: none;
    height: 9rem;
}